<div class="logout-btn">
  <button (click)="onClick()" class="btn btn-danger">Cerrar sesión</button>
</div>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Autenticación basada en Tokens</h4>
    <hr>
    <section class="hero-section">
      <div class="hero">
        <div class="hero__content-container">
          <div class="hero__content">
            <div class="hero__eyebrow">Preguntas más frecuentes</div>
            <h1 class="hero__title">Proveedores de identidad: ¿Qué es la autenticación basada en tokens?</h1>
          </div>
        </div>
      </div>
    </section>
</div>

<div class="container">
    <div>
      <p>La autenticación basada en tokens es un protocolo de autenticación en el que los usuarios verifican su identidad a cambio de un token de acceso único. Los usuarios pueden acceder al sitio web, la aplicación o el recurso durante la vida del token sin tener que volver a introducir sus credenciales.</p>

      <h3>¿Cuáles son los beneficios de la autenticación basada en tokens?</h3>
      <ul>
        <li>Mejores experiencias de usuarios</li>
        <li>Seguridad digital añadida</li>
        <li>Control administrativo</li>
        <li>Una carga tecnológica más ligera</li>
      </ul>

      <img src="https://www.entrust.com/-/media/entrust/resources/faq/img-illustration-token-graphic.svg?la=en&hash=35871A0266127F7F7395B8BBBE0045AB" alt="Ilustración de autenticación basada en tokens" class="token-image">

      <h2>¿Qué es un token de acceso?</h2>
      <p>Los tokens de acceso o autenticación conceden a los usuarios el acceso a un dispositivo, aplicación u otro recurso digital. Hoy en día existen muchos tipos de tokens:</p>

      <h3>Tokens de hardware</h3>
      <p>Los tokens de hardware son pequeños dispositivos físicos que los usuarios presentan para acceder a un recurso. Los tokens de hardware pueden estar conectados (es decir, USB, tarjeta inteligente, dispositivo de seguridad Key Fob de único uso) o sin contacto (es decir, tokens mediante Bluetooth). Los usuarios llevan consigo estos tokens.</p>

      <h3>Tokens de software</h3>
      <p>Los tokens de software, también llamados tokens desconectados, son realmente sin contacto y pueden autenticar la identidad desde cualquier lugar. Los ejemplos más comunes de tokens de software son ahora las aplicaciones móviles que utilizan los smartphones para facilitar la autenticación de dos factores (2FA), la autenticación de factores múltiples (MFA) o los tokens web JSON.</p>

      <h2>¿Qué son los tokens web de código abierto o JSON?</h2>
      <p>El tipo más común de tokens desconectados o de software es el token de código abierto, más específicamente, el JSON Web Token (JWT). El JSON es un estándar de código abierto (RFC 7519) que ofrece un protocolo simple y autónomo para codificar información como un objeto JSON, lo que permite que esa información se transmita de manera eficiente y segura. Los JWT han aumentado su popularidad porque son objetos extremadamente compactos que pueden transmitirse de muchas maneras eficientes.</p>

      <img src="https://blog.cloudflare.com/content/images/2022/06/image-1.png" alt="Ilustración de un JSON Web Token" class="token-image">
    </div>
